<!DOCTYPE html>
<html>
    <head>
        <title>
            Fortune Teller
        </title>
        <link rel="stylesheet" type="text/css" href="../fortunes.css">
    </head>
<form action="fortune_result" method="GET">
    <p>
        What is your name?
        <input type="text" name="name"/>
    </p>
    <p> What month were you born?<br>
      <input type="radio" name="month" value="first"> January - April<br>
      <input type="radio" name="month" value="second"> May - August<br>
      <input type="radio" name="month" value="third"> September - December
    </p>
    <p>
    </p>
    <p> What day of the month?
        <input type="checkbox" name="days"/>
        1-15
        <input type="checkbox" name="days"/>
        16-31
    </p>
    <p>
        What's your fav beverage?
        <select name="tell_fortune">
            <option value="1">Coffee</option>
            <option value="2">Water</option>
            <option value="3">Tea</option>
        </select>
    </p>
    <button type="submit">Get fortune!</button>
</form>
